.auth-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004e96;
    height: 100%;
    width: 100%;
}

h2 {
    font-weight: normal;
}

.auth-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 24px 48px;
    margin-bottom: 20px;
    gap: 10px;
    width: 20%;
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-div input {
    padding: 7px 9px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
}

.auth-button {
    background-color: #004e96;
    cursor: pointer;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 3px;
    border-width: 0;
    padding: 12px 10px;
    margin-top: 10px;
    font-size: 14px;

}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.redirect-link {
    color: #004e96;
    text-decoration: none;
    margin-left: 5px;
}

.redirect-div {
    margin-top: 5px;
}

.error-message {
    color: red;
    text-align: left;
    font-size: small;
    font-weight: 300;
}

.auth-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004e96;
    height: 100vh;
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-div input {
    padding: 7px 9px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
}
